@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: normal;
	src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	font-style: normal;
	src: url('/fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	font-style: normal;
	src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 800;
	font-style: normal;
	src: url('/fonts/Poppins-ExtraBold.ttf');
}

:root {
  --red: rgb(170, 41, 41);
  --orange: #d57410;
  --yellow: #e6d500;
  --white: #e9e8e7;
  --background: #232425;
  --foreground: #DDD;
  --gap: 7px;
  --step-indicator-inactive: #4f0a05;
  --step-indicator-active: #e93323;
}

@keyframes blink {
  from {background-color: var(--step-indicator-inactive);}
  to {background-color: var(--step-indicator-active);}
}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
  display: flex;
  justify-content: end;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 50px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 400px) {
    padding: 60px 25px 40px;
  }

}

a {
  color: inherit;
  text-decoration: none;
}

.step-sequencer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}

.steps {
  display: flex;
  gap: var(--gap);

  @media (max-width: 400px) {
    flex-wrap: wrap;
  }
}

.step {
  width: 47px;
  height: 87px;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  box-sizing: border-box;
  cursor: pointer;
  border: solid 2px var(--background);
  border-radius: 8px;

  @media (max-width: 400px) {
    height: var(--pad-size);
    width: var(--pad-size);
  }

  &[data-visible="false"] {
    display: none;
  }

  &.red {
    background-color: var(--red);
  }

  &.orange {
    background-color: var(--orange);
  }

  &.yellow {
    background-color: var(--yellow);
  }

  &.white {
    background-color: var(--white);
  }

  .step-indicator {
    background-color: var(--step-indicator-inactive);
    width: 10px;
    height: 10px;
    outline: solid 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;

    [data-active="true"] &,
    [data-enabled="true"] & {
      background-color: var(--step-indicator-active);
    }

    [data-active="true"][data-enabled="true"] & {
      background-color: var(--step-indicator-inactive);
    }

  }

}

.toggle {
  display: flex;
  flex-direction: column;
  gap: 1px;

  .toggle-item {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  label {
    cursor: pointer;
    text-wrap: nowrap;
  }

  input[type="radio"] {
    appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: var(--step-indicator-inactive);
      border-radius: 100%;
      border: solid 2px var(--white);
      border: solid 3px black;
      transition: background-color .25s;
      box-sizing: border-box;
    }
    &:checked:before {
      background-color: var(--step-indicator-active);
    }
    &:checked + label {
      color: var(--yellow);
    }
  }

}

[data-queued="true"] .patterns .toggle input[type="radio"]:checked:before {
  animation: blink .45s infinite;
  animation-direction: alternate-reverse;
}

.buttons {
  display: flex;
  gap: var(--gap);
  flex-direction: column;

  button {
    font-family: inherit;
    font-size: 13px;
    padding: 15px;
    background-color: var(--red);
    color: var(--foreground);
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    width: var(--pad-size);
    line-height: 1;
    text-align: center;
    flex-grow: 1;
    &[disabled] {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  .buttons-top {
    button {
      width: auto;
      padding: 7px 15px;
      &.dir {
        font-size: 20px;
      }
      &.add {
        font-size: 15px;
      }
    }
  }

  .buttons-top,
  .buttons-bottom {
    display: flex;
    gap: var(--gap);
  }

  .buttons-left,
  .buttons-right {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

}

.sliders {
  display: flex;
  gap: 10px;

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 40px;

    input[type="range"] {
      writing-mode: vertical-lr;
      direction: rtl;
      appearance: none;
      width: 5px;
      height: 120px;
      background-color: black;
      &::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 100%;
      }
    }

    .slider-display {
      text-align: center;
      line-height: 1.2;
      .slider-display-label {
        font-weight: 700;
        font-size: 12px;
      }
      .slider-display-value {
        font-weight: 700;
      }
    }

  }

}

.controllers {
  display: flex;
  gap: 40px;
  align-items: end;

  @media (max-width: 400px) {
    flex-direction: column;
    width: 100%;
    gap: 25px;
  }

}

.controllers-left,
.controllers-right {
  display: flex;
  align-items: end;
  gap: 10px;

  @media (max-width: 400px) {
    width: 100%;
    justify-content: space-between;
  }

}

[data-title] {
  position: relative;
  &:before {
    content: attr(data-title);
    font-size: 16px;
    position: absolute;
    top: -30px;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    font-weight: 800;
  }
}

.patterns {

  .toggle {
    max-height: 120px;
    /*max-width: 150px;*/
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 12px;
  }

}
