@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: normal;
	src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	font-style: normal;
	src: url('/fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	font-style: normal;
	src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 800;
	font-style: normal;
	src: url('/fonts/Poppins-ExtraBold.ttf');
}

:root {
  --red: rgb(170, 41, 41);
  --orange: #d57410;
  --yellow: #e6d500;
  --white: #e9e8e7;
  --background: #232425;
  --foreground: var(--white);
  --gap: 7px;
  --step-indicator-inactive: #4f0a05;
  --step-indicator-active: #e93323;
}

@keyframes blink {
  from {background-color: var(--step-indicator-inactive);}
  to {background-color: var(--step-indicator-active);}
}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 60px var(--gutter) 40px;
  height: 100%;
  box-sizing: border-box;
  max-width: 500px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-user-select: none;
  user-select: none;
  &[disabled] {
    pointer-events: none;
  }
  &:active {
    color: var(--yellow);
  }
}

.step-sequencer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  transition: opacity .25s;
  &[data-loading="true"] {
    opacity: 0;
  }
}

.steps {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

.step {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  outline: solid 2px black;
  border-radius: 8px;
  height: var(--pad-size);
  width: var(--pad-size);
  position: relative;
  overflow: hidden;

  &[data-visible="false"] {
    display: none;
  }

  &:after {
    content: attr(data-label);
    display: block;
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    text-align: center;
    line-height: 1;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 4px 0;
    border-radius: 4px;
    pointer-events: none;
    letter-spacing: -0.25px;
    word-spacing: 2px;
  }

  [data-select-mode="false"] &:after {
    opacity: 0;
  }

  &.red {
    background-color: var(--red);
  }

  &.orange {
    background-color: var(--orange);
  }

  &.yellow {
    background-color: var(--yellow);
  }

  &.white {
    background-color: var(--white);
  }

  .step-indicator {
    background-color: var(--step-indicator-inactive);
    width: 10px;
    height: 10px;
    outline: solid 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    pointer-events: none;

    [data-active="true"] &,
    [data-enabled="true"] & {
      background-color: var(--step-indicator-active);
    }

    [data-active="true"][data-enabled="true"] & {
      background-color: var(--step-indicator-inactive);
    }

  }

}

.toggle {
  display: flex;
  flex-direction: column;
  gap: 1px;

  .toggle-item {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  label {
    cursor: pointer;
    text-wrap: nowrap;
    transition: color .2s;
  }

  input[type="radio"] {
    appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: var(--step-indicator-inactive);
      border-radius: 100%;
      border: solid 2px var(--white);
      border: solid 3px black;
      transition: background-color .25s;
      box-sizing: border-box;
    }
    &:checked:before {
      background-color: var(--step-indicator-active);
    }
    &:checked + label {
      color: var(--yellow);
    }
  }

}

[data-queued="true"] .patterns .toggle input[type="radio"]:checked:before {
  animation: blink .45s infinite;
  animation-direction: alternate-reverse;
}

.buttons {
  display: flex;
  gap: var(--gap);
  flex-direction: column;

  button {
    width: var(--pad-size);
  }

  .buttons-top {
    button {
      width: auto;
      padding: 8px 15px;
      color: var(--yellow);

      &[disabled] {
        color: white;
      }

    }
  }

  .buttons-top,
  .buttons-bottom {
    display: flex;
    gap: var(--gap);
  }

  .buttons-bottom {
    flex-wrap: wrap;
  }

}

.sliders {
  display: flex;
  gap: 10px;
  width: var(--sliders-size);
  justify-content: space-between;
  padding: 0 10px 25px;
  box-sizing: border-box;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  [data-direction="vertical"] & {
    width: 40px;
  }

  input[type="range"] {
    appearance: none;
    background-color: black;
    border-radius: 4px;

    [data-direction="vertical"] & {
      writing-mode: vertical-lr;
      direction: rtl;
      width: 5px;
      height: 120px;
    }

    [data-direction="horizontal"] & {
      width: 100%;
      height: 5px;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 100%;
    }

  }

  .slider-display {
    text-align: center;
    line-height: 1.2;
    font-weight: 700;

    [data-direction="horizontal"] & {
      display: flex;
      gap: 5px;
      width: 100%;
      justify-content: space-between;
      font-size: 12px;
    }

    .slider-display-label {

      [data-direction="vertical"] & {
        font-size: 12px;
      }

    }

  }

}

.controllers {
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 100%;

  button {
    font-family: inherit;
    font-size: 13px;
    padding: 15px 12px;
    background-color: var(--red);
    color: white;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    outline: solid 2px black;
    cursor: pointer;
    line-height: 1;
    text-align: center;
    flex-grow: 1;
    text-shadow: 0 0 5px rgba(0,0,0,0.25);
    background-image: radial-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15));
    transition: color .15s;

    &.start,
    &.store,
    &.add {
      font-size: 15px;
    }

    &.tap {

      @media (min-width: 376px) {
        font-size: 24px;
      }

    }

    &.inst {
      font-size: 18px;
      flex-grow: 0;

      @media (min-width: 376px) {
        height: 56px;
      }

      @media (max-width: 375px) {
        padding: 10px;
      }

      [data-select-mode="true"] & {
        color: var(--yellow);
      }

    }

    &.dir {
      font-size: 20px;
    }

    &.add {
      width: 60px;
    }

  }

}

.controllers-top,
.controllers-bottom {
  display: flex;
  gap: var(--gap);
  width: 100%;
  justify-content: space-between;
}

.controllers-bottom-left,
.controllers-bottom-right {
  width: var(--sliders-size);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--gap);
}

[data-title] {
  position: relative;
  &:before {
    content: attr(data-title);
    font-size: 16px;
    position: absolute;
    top: -32px;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    font-weight: 800;
  }
}

.patterns {
  width: var(--sliders-size);

  .toggle {
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    mask-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
  }

}

.instruments,
.controllers-top {
  @media (max-width: 375px) {
    display: none;
  }
}

.fallbacks {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  .slider {
    padding: 0 5px 5px;
  }

  @media (min-width: 376px) {
    display: none;
  }

  select {
    width: 100%;
    appearance: none;
    background-color: var(--red);
    background-image: radial-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15));
    color: white;
    border: solid 2px black;
    padding: 5px 15px;
    font-size: inherit;
    font-family: inherit;
    border-radius: 5px;
    font-weight: inherit;
  }

}

.patterns-target {
  display: flex;
  justify-content: end;
  padding-top: 20px;
}

.prompt,
.confirm {
  background-color: white;
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--background);
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  border: solid 2px black;

  .prompt-head,
  .confirm-head {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
  }

  .prompt-body,
  .confirm-body {
    font-size: 18px;
    padding-top: 20px;

    input[type="text"] {
      padding: 10px;
      font-size: inherit;
      border: solid 1px grey;
      font-family: inherit;
      font-weight: inherit;
      width: 100%;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }

  .prompt-foot,
  .confirm-foot {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
  }

  button {
    padding: 10px 20px;
    border: 0;
    border-radius: 8px;
    background-color: var(--red);
    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: 800;
    min-width: 80px;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.confirm-overlay,
.prompt-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;

  &[data-hidden="true"] {
    display: none;
  }

}

.prompt {
  width: calc(100% - 80px);
  box-sizing: border-box;
}
